version: "3.9"

services:
  web:
    build: ./webapp
    container_name: server2-web
    networks:
      - monitoring-net

  node-exporter:
    image: prom/node-exporter:v1.8.2
    container_name: server2-node
    networks:
      - monitoring-net

networks:
  monitoring-net:
    external: true
