[Unit]
Description=Run webapp-check.service every 5 seconds

[Timer]
OnBootSec=20s
OnUnitActiveSec=5s
AccuracySec=1s
Unit=webapp-check.service

[Install]
WantedBy=timers.target